<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h2>You have successfully created your account</h2>
		<p>
			Hello there
		</p>
		<p>
			To login to the website just follow this link <%= @url %>
		</p>
	
</body>
</html>