<div id="lunchforrest">
	<div id="col1">
		<h5><%= lunch_special.title %></h5>
		<p><%= lunch_special.description %></p>
	</div>
	<div id="col2">
		<p><%= lunch_special.price %></p>
	</div>
	
</div>



