/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self

 //= require foundation_and_overrides

 */
// @import "foundation_and_overrides";

@import 'foundation-icons';

#main_body{
	background-color: #cccccc;
}
.off-canvas-list{
	a{
		text-decoration: none;
	}
}


#newsearchfield{
	width: 300px;
}
/*LUNCH SPECIAL INDEX*/


.advsearch{
		float: left; font-size: 20px; text-decoration: none; padding: 20px;
	}

.field{
	text-decoration: none;
	li{
		margin: 5px; width: 70%;
	}
	a{
		text-decoration: none;
		font-size: 20px;
	}
}

#main_row{
	background-color: white; margin: 0 0 1% 5%;
	.columns{
		.votes{
			list-style-type: none; 
			float: right;
		}

		#index_price {
			text-align: right;
		}
	}
}



/*END OF LUNCH SPECIAL INDEX*/

/*RESTAURANT SHOW*/
.row{
	
	margin: 1%;
}

// LOCATION

#main_new_location{
	margin: 10% 30%; 
}

@media screen and (max-width: 650px) {

#main_new_location{
	margin: 1% 10%; 
}

}


